/* Reset */
/*
body {
	padding: 0;
	margin: 0;
	background: transparent;
}
*/

/* Map */
#map {
	background: #0fa8d2;
	position: fixed;
	top: 0;
	bottom: 0;
	width: calc(100% - 260px);
	height: 100%;
	left: 260px;
}

/* Control - Layer Selector */
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
	margin: 32px!important;
	border: 0!important;
	background: #00000080;
	color: #fff;
}

/* Popup Tooltips */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background: #00000080!important;
	color: #fff!important;
	box-shadow: 0 0 16px rgba(0,0,0,0.5)!important;
}

/* Control - Search Bar */

.leaflet-container {
	font: unset!important;
}

.leaflet-container .leaflet-control-search {
	margin: 32px!important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	z-index: 1000;
}
.leaflet-control-search.search-exp {
	box-shadow: 0 0 32px #00000080;
	background: #21212180!important;
	height: 40px;
}
.leaflet-control-search .search-input {
	display: inline-block!important;
	background: #28282840!important;
	border: 0;
	border-radius: 5px;
	height: 32px;
	width: 350px;
	padding: 0 16px;
	margin: 4px;
	font-size: 16px;
	color: #fff;
}
.leaflet-control-search.search-exp label {
	display: none!important;
}
.leaflet-control-search.search-load .search-cancel {
	visibility:hidden;
}
.leaflet-control-search .search-cancel {
	display: inline-block;
	width: 22px;
	height: 32px;
	position: absolute;
	right: 22px;
	margin: 2px 0;
	background: url('../images/search-icon.png') no-repeat 0 -46px;
	text-decoration: none;
}
.leaflet-control-search .search-cancel:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}
.leaflet-control-search .search-cancel span {
	display: none; /*comment for cancel button imageless */
	font-size: 18px;
	line-height: 20px;
	color: #ccc;
	font-weight: bold;
}
.leaflet-control-search .search-cancel:hover span {
	color: #aaa;
}
.leaflet-control-search .search-button {
	margin: 4px;
	margin-left: 0;
	padding: 0 32px;
	border-radius: 5px;
	display: inline-block !important;
	line-height: 32px;
}
.leaflet-control-search a.search-button:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f002";
}
.leaflet-control-search a.search-button {
	color: #fff;
	text-decoration: none;
}
.leaflet-control-search a.search-button:hover {
	color: #ddd;
	background-color: #28282840;
}
.leaflet-control-search .search-tooltip {
	position: absolute;
	list-style: none;
	padding-left: 0;
	min-width: 256px;
	max-height: 768px;
	box-shadow: 0 0 0 transparent;
	background-color: transparent;
	z-index:1010;
	overflow-y: auto;
	overflow-x: hidden;
	cursor: pointer;
}
.leaflet-control-search .search-tip {
	margin: 4px 0;
	padding: 4px 16px;
	display: block;
	background: #00000080;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;	
	white-space: nowrap;
	vertical-align: center;
}
.leaflet-control-search .search-tip-select,
.leaflet-control-search .search-tip:hover {
	background-color: #000000BF;
}
.leaflet-control-search .search-alert {
	cursor: pointer;
	clear: both;
	font-size: .75em;
	margin-bottom:5px;
	padding:0 .25em;
	color:#e00;
	font-weight:bold;
	border-radius:.25em;
}


