body {
	color: #fff;
	background-color: #1f1f1f;
	background-image: url(../images/Logo-SanAndreasSealTransparent.png);
	background-size: 600px 600px;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*body {
	background-image: url(../images/Logo-SanAndreasSealTransparent.png);
	background-size: 600px 600px;
	background-color: rgba(238, 238, 238, 0.95);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}*/

a {
	color: #fff;
}

a:hover {
	color: #ddd;
	text-decoration: none;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
	font-size: 80%;
    min-width: 260px;
    max-width: 260px;
    height: 100vh;
    position: fixed;
}

#sidebar i {
	color: #ddd;
}

#sidebar li {
	border-radius: 3px;
	padding: 2px 8px;
	transition: background .1s linear;
	margin-bottom: 2px;
}

#sidebar li:hover {
	background: rgba(255,255,255,0.1);
}

#sidebar li:hover a:first-child {
	color: #ddd;
	text-decoration: none;
}

.input-group-midpend {
	margin-left: -1px;
	margin-right: -1px;
}

.form-control {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #ffffff;
	background-color: #313131;
	background-clip: padding-box;
	border: 1px solid #313131;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:disabled, .form-control[readonly] {
	background-color: #313131;
	color: #ddd;
	opacity: 1;
}

.form-control:focus {
	color: #ffffff;
	background-color: #313131;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.input-group-text {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: .375rem .75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #ffffff;
	text-align: center;
	white-space: nowrap;
	background-color: #404040;
	border: 1px solid #404040;
	border-radius: .25rem;
}