body {
	background-image: url(../images/Logo-SanAndreasSealTransparent.png);
	background-size: 600px 600px;
	background-color: rgba(238, 238, 238, 0.95);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a:hover {
	text-decoration: none;
}

#sidebar a {
	color: #fff;
}

#sidebar a:hover {
	color: #ddd;
	text-decoration: none;
}

#timestamp {
	color: #FFF;
	font-size: 18px;
}

.wrapper {
	display: flex;
	align-items: stretch;
}

#container {
	display: block;
	width: calc(100vw - 260px);
	margin-top: 50px;
	margin-left: 260px;
}

#sidebar {
	height: 100vh;
	position: fixed;
	font-size: 80%;
	min-width: 260px;
	max-width: 260px;
}

#sidebar i {
	color: #fff;
}

#sidebar li {
	border-radius: 3px;
	padding: 2px 8px;
	transition: background .1s linear, color .1s linear, margin-left .1s linear;
	margin-bottom: 2px;
}

#sidebar li:hover {
	color: #4095e8;
	background: rgba(255,255,255,0.1);
}

.card-panel i {
	transition: color .1s linear!important;
}

#card-main-map:hover i {
	color: #e74c3c!important;
}

#card-main-generators:hover i {
	color: #9d7146!important;
}

#card-main-resources:hover i {
	color: #7e52e1!important;
}

#card-main-penal:hover i {
	color: #d5a03d!important;
}

#card-generators-arrest:hover i {
	color: #cbc2c5!important;
}

#card-generators-traffic:hover i {
	color: #2167c2!important;
} 

#card-generators-evidence:hover i {
	color: #7da522!important;
}

#card-generators-death:hover i {
	color: #eaede1!important;
}

#card-generators-tdpatrol:hover i {
	color: #b83028!important;
}

#card-generators-patrol:hover i {
	color: #2167c2!important;
}

/*

DARK MODE

body {
	color: #fff;
	background-color: #1f1f1f;
	background-image: url(../images/Logo-SanAndreasSealTransparent.png);
	background-size: 600px 600px;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.input-group-midpend {
	margin-left: -1px;
	margin-right: -1px;
}

.form-control {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #ffffff;
	background-color: #313131;
	background-clip: padding-box;
	border: 1px solid #313131;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:disabled, .form-control[readonly] {
	background-color: #313131;
	color: #ddd;
	opacity: 1;
}

.form-control:focus {
	color: #ffffff;
	background-color: #313131;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.input-group-text {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: .375rem .75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #ffffff;
	text-align: center;
	white-space: nowrap;
	background-color: #404040;
	border: 1px solid #404040;
	border-radius: .25rem;
}
*/