/* HTML ELEMENTS */

body {
	color: #fff;
	background-color: #1f1f1f;
}

hr {
	border-top: 1px solid rgba(0,0,0,.25);
}

optgroup {
	background-color: #282828;
}

small.text-muted {
	color: #c9c9ca !important;
}

/* CARDS */

.card-panel {
	box-shadow: 0px -1px 0 rgba(255, 255, 255, .1);
}

.card-panel:hover {
	box-shadow: 0px -1px 0 rgba(255, 255, 255, .5);
}

.card.text-white {
	color: #fff!important;
}

.card.bg-dark {
	background-color: #151515!important;
}

.card .text-muted {
	text-shadow: 0px -1px 0 rgba(255, 255, 255, 0.2);
	color: #2f2f2f!important;
}

/* INPUT FIELDS */

.input-group-midpend {
	margin-left: -1px;
	margin-right: -1px;
}

.form-control {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #ffffff;
	background-color: #313131;
	background-clip: padding-box;
	border: 1px solid #313131;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:disabled, .form-control[readonly] {
	background-color: #313131;
	color: #ddd;
	opacity: 1;
}

.form-control:focus {
	color: #ffffff;
	background-color: #313131;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.input-group-text {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: .375rem .75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #ffffff;
	text-align: center;
	white-space: nowrap;
	background-color: #404040;
	border: 1px solid #404040;
	border-radius: .25rem;
}

.form-control::placeholder {
	color: #9a9ea2;
}

/* TABLES */

.table-light {
	color: #fff;
	background-color: #303131;
}

.table-light td, .table-light th, .table-light thead th {
	border-color: #454d55;
}

.table-light.table-hover tbody tr:hover {
    color: #fff;
    background-color: rgba(255,255,255,.075);
}

/* BREADCRUMB */

#breadcrumb li a {
	background-color: rgba(0,0,0,.25);
}

#breadcrumb {
	border-bottom: 1px solid rgba(0,0,0,.2)!important;
}

/* ICONS */

#card-main-map:hover {
	box-shadow: #e74c3c80 0 -1px 0px;
}

#card-main-map:hover i {
	text-shadow: #e74c3c80 0 0 15px, 0px -1px 0 rgba(255, 255, 255, .5);
}

#card-main-generators:hover {
	box-shadow: #ca915980 0 -1px 0px;
}

#card-main-generators:hover i {
	text-shadow: #ca915980 0 0 15px, 0px -1px 0 rgba(255, 255, 255, .5);
}

#card-main-resources:hover {
	box-shadow: #8764d780 0 -1px 0px;
}

#card-main-resources:hover i {
	text-shadow: #8764d780 0 0 15px, 0px -1px 0 rgba(255, 255, 255, .5);
}

#card-main-penal:hover {
	box-shadow: #e2b05580 0 -1px 0px;
}

#card-main-penal:hover i {
	text-shadow: #e2b05580 0 0 15px, 0px -1px 0 rgba(255, 255, 255, .5);
}

#card-generators-arrest:hover {
	box-shadow: #cbc2c580 0 -1px 0px;
}

#card-generators-arrest:hover i {
	text-shadow: #cbc2c580 0 0 15px, 0px -1px 0 rgba(255, 255, 255, .5);
}

#card-generators-traffic:hover {
	box-shadow: #2167c280 0 -1px 0px;
}

#card-generators-traffic:hover i {
	text-shadow: #2167c280 0 0 15px, 0px -1px 0 rgba(255, 255, 255, .5);
} 

#card-generators-evidence:hover {
	box-shadow: #7da52280 0 -1px 0px;
}

#card-generators-evidence:hover i {
	text-shadow: #7da52280 0 0 15px, 0px -1px 0 rgba(255, 255, 255, .5);
}

#card-generators-death:hover {
	box-shadow: #8e844980 0 -1px 0px;
}

#card-generators-death:hover i {
	text-shadow: #8e844980 0 0 15px, 0px -1px 0 rgba(255, 255, 255, .5);
}

#card-generators-tdpatrol:hover {
	box-shadow: #e3652880 0 -1px 0px;
}

#card-generators-tdpatrol:hover i {
	text-shadow: #e3652880 0 0 15px, 0px -1px 0 rgba(255, 255, 255, .5);
}

#card-generators-patrol:hover {
	box-shadow: #11cab980 0 -1px 0px;
}

#card-generators-patrol:hover i {
	text-shadow: #11cab980 0 0 15px, 0px -1px 0 rgba(255, 255, 255, .5);
}
